<h1 class="title">{{post.title}}</h1>

<p class="body">{{post.body}}</p>

<h2>Comments</h2>

{{#each post.comments as |comment|}}
  <div class="comment">
      <h3 class="author">{{capitalize comment.author.fullName}}</h3>
      <p class="content">{{comment.content}}</p>
  </div>
{{/each}}
